*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#020617;
color:white;
scroll-behavior:smooth;
overflow-x:hidden;
}

#loader{
position:fixed;
width:100%;
height:100%;
background:#020617;
display:flex;
justify-content:center;
align-items:center;
z-index:1000;
font-size:28px;
}

#progress-bar{
position:fixed;
top:0;
left:0;
height:5px;
background:#3b82f6;
width:0%;
z-index:999;
}

#ai-bg{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}

.navbar{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
padding:15px 40px;
background:rgba(0,0,0,0.5);
backdrop-filter:blur(10px);
z-index:100;
}

.navbar ul{
display:flex;
list-style:none;
gap:20px;
}

.navbar a{
color:white;
text-decoration:none;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;

background-image:url("https://images.unsplash.com/photo-1677442136019-21780ecad995");
background-size:cover;
background-position:center;
background-attachment:fixed;
}

.hero-title{
font-size:60px;
}

.hero-subtitle{
margin-top:10px;
font-size:18px;
}

.btn{
margin-top:20px;
padding:12px 25px;
background:#3b82f6;
color:white;
border-radius:30px;
text-decoration:none;
}

.section{
padding:120px 20px;
max-width:900px;
margin:auto;
text-align:center;
}

.cards{
display:flex;
gap:30px;
margin-top:40px;
flex-wrap:wrap;
justify-content:center;
}

.card{
background:#1e293b;
padding:30px;
width:260px;
border-radius:12px;
transition:0.4s;
transform-style:preserve-3d;
}

.card:hover{
transform:rotateY(10deg) rotateX(10deg) scale(1.05);
background:#2563eb;
}

button{
margin-top:20px;
padding:12px 25px;
border:none;
background:#9333ea;
color:white;
border-radius:6px;
cursor:pointer;
}

footer{
padding:40px;
text-align:center;
background:#020617;
}

.reveal{
opacity:0;
transform:translateY(40px);
}

body,.card,.navbar,button{
transition:0.5s;
}

@media(max-width:700px){

.hero-title{
font-size:36px;
}

.cards{
flex-direction:column;
align-items:center;
}

}